{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"],
          "chrome": "60",
          "firefox": "60",
          "safari": "10",
          "ie": "11",
          "edge": "17",
          "android": "4.0",
          "ios": "10"
        },
        "useBuiltIns": "usage",
        "corejs": "core-js@3"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",   //翻译异步语法
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ],
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "libraryDirectory": "es",
        "style": true
      }
    ]
  ]
}
